<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <p class="info-email" *ngIf="userEmail">
    Redefinindo a senha para: <strong>{{ userEmail }}</strong>
  </p>

  <p class="form-instruction">Digite e confirme sua nova senha.</p>

  <mat-form-field appearance="outline" class="full-width-field">
    <mat-label>Nova Senha</mat-label>
    <input matInput formControlName="newPassword" type="password" required />
    <mat-icon matSuffix>lock_outline</mat-icon>
    <mat-error
      *ngIf="
        passwordForm.get('newPassword')?.hasError('required') &&
        passwordForm.get('newPassword')?.touched
      "
      >A nova senha é obrigatória.</mat-error
    >
    <mat-error
      *ngIf="
        passwordForm.get('newPassword')?.hasError('minlength') &&
        passwordForm.get('newPassword')?.touched
      "
      >A senha deve ter no mínimo 8 caracteres.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width-field">
    <mat-label>Confirme a Senha</mat-label>
    <input matInput formControlName="confirmPassword" type="password" required />
    <mat-icon matSuffix>lock_outline</mat-icon>

    <mat-error
      *ngIf="
        passwordForm.get('confirmPassword')?.hasError('required') &&
        passwordForm.get('confirmPassword')?.touched
      "
    >
      A confirmação é obrigatória.
    </mat-error>

    <mat-error
      *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched"
    >
      As senhas não coincidem.
    </mat-error>
  </mat-form-field>

  <div class="form-actions-button">
    <button matButton="filled" mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
      Redefinir Senha
    </button>
  </div>
</form>
