/* src/app/pages/auth-page/auth-page.component.scss */

// O :host garante que o <app-auth-page> ocupe todo o espaço disponível
:host {
    display: block;
}

.auth-page-container {

    min-height: 100vh;


    background-color: #f0f2f5;

    display: flex;
    justify-content: center;
    align-items: center;


    padding: 16px;
}

.auth-content-wrapper {
    width: 100%;

    max-width: 450px;


    margin: auto;
}