:host {
    display: block;
}

.home-page-container {
    min-height: 100vh;

    background-color: #ffffff; // pode usar outra cor para a home
    display: flex;
    flex-direction: column; // permite header + conteúdo, se tiver
    justify-content: flex-start; // conteúdo começa no topo
    align-items: center;

    padding: 16px;
}

.home-content-wrapper {
    width: 100%;
    max-width: 1200px; // largura maior para home
    margin: auto;
}
